@import 'styles/index.scss';

.card_champ {
    min-width: 200px;
    position: relative;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);

    @include breakpoints(sm) {
        // min-width: auto;
        min-height: auto;
    }

    &_link {
        width: 100%;
        height: 100%;
    }

    &_img {
        height: 360px;
        object-fit: cover;
        overflow: hidden;
        position: relative;

        @include breakpoints(sm) {
            // height: auto;
        }

        img {
            width: 100%;
            height: 100%;
            transition: all 500ms ease;
            transform: scale(1.1);
        }
    }

    .fav-icon {
        position: absolute;
        font-size: 30px;
        top: 10px;
        right: 15px;
    }

    &_info {
        width: 100%;  
        height: 26%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 26px 0px 0px 15px;
        transition: all 500ms ease;


        &_name {
            font-family: "bold-lol", 'Times New Roman', Times, serif, cursive;
            font-style: italic;
            letter-spacing: 1px;
            font-size: 20px;
            text-transform: uppercase;
        }

        &_title {
            font-family: "bold-lol", 'Times New Roman', Times, serif, cursive;
            margin-top: 5px;
            font-size: 12.5px;
            margin-bottom: 10px;
        }

        &_tags {
            display: none;
        }
    }
}


.card_champ:hover{

    img{
        transform: scale(1.2);
    }

    .card_champ_info {
        height: 26%;
        transition: all 500ms ease;
        background: rgb(103, 89, 232);
        background: linear-gradient(0deg, rgba(103, 89, 232, 1) 0%, rgba(255, 255, 255, 0) 100%);
        padding: 0px 0px 0px 15px;
    }

    .card_champ_info_tags {
        width: 72%;
        height: 23%; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        img{
            margin-left: 18px;
            height: 100%;
            width: auto;
        }
    }
}

.show{
    opacity: 1;
    transition: opacity 0.5s linear;
}

.hidden{
    opacity: 0.4;
    transition: opacity 0.5s linear;
}