@import 'styles/index.scss';

.champ_details {
    display: flex;
    background-color: #1e2234;
    margin-top: 65px;
    width: 90%;
    min-height: calc(100vh - 92px);
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include breakpoints(sm) {
        min-height: 100%;
    }

    &_main {
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 530px;
        background-size: cover;
        object-fit: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat;

        @include breakpoints(sm) {
            height: 260px;
        }

        &_title {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(180deg, rgba(13, 17, 34, 0) 0%, #1e2234 100%);

            h1 {
                font-size: 80px;
                font-family: "bold-lol", cursive;
                text-transform: uppercase;
            }

            h2 {
                font-family: "bold-lol", cursive;
                text-transform: uppercase;
            }

            @include breakpoints(sm) {
                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 18px;
                }
            }


            &_tags {
                width: 72%;
                height: 2%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &_info {
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1px;
        border: 1px solid #B29E9E;
        font-family: "bold-lol", cursive;
        font-size: 24px;
        background-color: #B29E9E;

        @include breakpoints(md) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        @include breakpoints(sm) {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 12px;
            background-color: transparent;
        }

        &_lore {
            padding: 20px 30px;
            background-color: #1e2234;

            h3 {
                font-family: "bold-lol", cursive;
                margin-bottom: 25px;
            }

            @include breakpoints(md) {
                display: flex;
                flex-direction: column;
                width: 100%;

                h3 {
                    align-self: center;
                }
            }

            @include breakpoints(sm) {
                h3 {
                    margin-bottom: 13px;
                    font-size: 20px;
                }
            }

            &_p {

                font-family: "regular-lol", cursive;
                font-size: 16px;

                button {
                    margin-left: 2px;
                    color: #dab257;
                    font-size: 11px;
                    border: none;
                    background: #1e2234;
                }
            }
        }

        &_spells {
            font-family: "bold-lol", cursive;
            padding: 20px 30px;
            background-color: #1e2234;

            h3 {
                font-family: "bold-lol", cursive;
                margin-bottom: 25px;
            }

            @include breakpoints(md) {
                display: flex;
                flex-direction: column;
                width: 100%;

                h3 {
                    align-self: center;
                }

                .css-u10pvi-MuiStack-root {
                    width: auto;
                    height: auto;
                    display: flex;
                    justify-content: center;
                }
            }

            @include breakpoints(sm) {
                h3 {
                    margin-bottom: 13px;
                    font-size: 20px;
                }
            }

            img {
                cursor: pointer;
            }

            .css-9n7c9l-MuiAvatar-root {
                width: 55px;
                height: 55px;

                @include breakpoints(sm) {
                    width: 40px;
                    height: 40px;
                }
            }

            .css-9n7c9l-MuiAvatar-root>img {
                width: 100%;
                height: 100%;
            }



            .spells-name {
                margin-top: 1.3rem;
                font-family: "bold-lol", cursive;
                text-transform: uppercase;

                &_key {
                    padding-left: 5px;
                    color: #B29E9E;
                    font-size: 11px;
                }
            }

            .spells-description,
            .spells-description>* {
                margin-top: 1rem;
                font-family: "regular-lol", cursive;
                font-size: 16px;
            }

            .spells-description>* {
                color: #dab257;
            }
        }
    }
}