@import 'styles/index.scss';

.champs_grid {
  padding-top: 92px;
  @include breakpoints(sm){
    padding-top: 70px;
    max-width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  // margin-top: 20px;
  max-width: 80%;
  max-height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 80px;
}
