@import './index.scss';

.no_fav_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: calc(100vh - 150px);

    @include breakpoints(sm) {
        width: 70%;
        min-height: calc(100vh - 138px);
    }    
}

.no_fav_container > h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.no_fav_container > img {
    margin-bottom: 1rem;
}

.no_fav_container a {
  color: rgb(103, 89, 232);
}