* {
  font-family: "Arial", monospace;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  cursor: pointer;
}

@font-face {
  font-family: "bold-lol";
  src: url("../../public/fonts/BeaufortforLOLBold.ttf");
}

@font-face {
  font-family: "regular-lol";
  src: url("../../public/fonts/BeaufortforLOL-Regular.ttf");
}

@font-face {
  font-family: "anton";
  src: url("../../public/fonts/Anton-Regular.ttf");
}


::-webkit-scrollbar {
  width: 10px;
  /* height: 2em;  for horizontal scrollbar*/
}

::-webkit-scrollbar-track {
  background: #1e2234;
  /* border-radius: 100vw; */
  /* margin-block: .5em; */
}

::-webkit-scrollbar-thumb {
  background: #9d9ba0;
  // border: 0.2em solid #472f5e;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #a297ac;
}

.up-arrow-icon {
  filter: invert(47%) sepia(83%) saturate(5601%) hue-rotate(234deg) brightness(95%) contrast(91%);
}

html {
  scroll-behavior: smooth;
}

@mixin breakpoints($point) {

  // mobile
  @if $point==sm {
    @media (max-width: 768px) {
      @content;
    }
  }

  // tablet
  @if $point==md {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }

    // desktop
    @if $point==lg {
      @media (min-width: 1025px) and (max-width: 1920px) {
        @content;
      }
    }
  }
}