* {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}
