@font-face {
    font-family: "beaufortforlol";
    src: url("../../assets/fonts/BeaufortforLOLBold.ttf");
}

@font-face {
    font-family: "lolregular";
    src: url("../../assets//fonts/BeaufortforLOL-Regular.ttf");
}

.card_champ {
    border-radius: 10px;
    position: relative;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    z-index: 10;
    // clip-path: polygon(12% 0, 100% 0, 88% 100%, 0% 100%);

    &_link {
        width: 100%;
        height: 100%;
    }

    &_img {
        width: auto;
        height: 450px;
        object-fit: cover;
        overflow: hidden;
        position: relative;
        z-index: 10;
        // transform: scale(1.2);
        // outline: 5px solid rgb(86, 78, 155);
        border-radius: 5px;

        img {
            width: 100%;
            height: 100%;
            transition: all 500ms ease;
            transform: scale(1.1);
        }
    }

    .fav-icon {
        position: absolute;
        font-size: 38px;
        top: 10px;
        right: 15px;
    }

    .arrow-icon {
        position: absolute;
        font-size: 38px;
        top: 20px;
        left: 22px;
    }


    &_info {
        width: 100%;  
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        height: 110px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 26px 0px 0px 17px;
        transition: all 500ms ease;


        &_name {
            font-family: "beaufortforlol", cursive;
            font-style: italic;
            letter-spacing: 1px;
            font-size: 25px;
            text-transform: uppercase;
        }

        &_title {
            font-family: "beaufortforlol", cursive;
            margin-top: 5px;
            margin-bottom: 8px;
        }

        &_tags {
            display: none;
            padding-bottom: 5px;

            img{
                margin: 10px;
                height: 65%;
                width: auto;
                padding-bottom: 5px;
            }
        }
    }
}

.card_champ:hover {

    img{
        transform: scale(1.2);
    }

    .card_champ_info {
        transition: all 500ms ease;
        background: rgb(103, 89, 232);
        background: linear-gradient(0deg, rgba(103, 89, 232, 1) 0%, rgba(255, 255, 255, 0) 100%);
        padding: 0px 0px 0px 20px;
    }

    .card_champ_info_tags {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50%; 
    }
}