.card-rotate {
  width: 310px;
  height: 558px;
  /* transform: skew(-10deg); */
  /* position: relative; */
}

.card-champ {
  width: 310px;
  height: 558px;
  /* width: 298px;
  height: 522px; */
  margin: 55px;
  /* transform: skew(4deg); */
  /* clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%); */
  /* border: 1px solid aqua; */
  clip-path: polygon(20% 3%, 100% 3%, 80% 96%, 3% 97%);
  background-color: blueviolet;
}

.card-champ-img {
  width: 100%;
  height: 100%;
  clip-path: polygon(20% 3%, 100% 3%, 80% 96%, 3% 97%);
  zoom: 110%;
  transform: skew(10deg);
  background-size: cover;
  background-position: center;
}

.clippy {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 275px;
  max-height: 591px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
  margin-bottom: 30px;
}

.clippy img {
  /* clip-path: polygon(20% 0%, 100% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 100%, 0% 20%); */
  clip-path: polygon(20% 5%, 97% 5%, 80% 93%, 3% 93%);
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 1px;
  bottom: -0.5px; 
}

.card-champ-id {
  /* transform: skew(10deg); */
  position: absolute;
  z-index: 10;
  left: 20px;
  margin-top: 5px;
  bottom: 62px;
  z-index: 11;
}

.title{
    left: 20px;
    bottom: 44px;
    font-size: 13px;
}

.name{
    font-size: 25px;
}
.clippy .border {
  /* clip-path: polygon(20% 0%, 100% 0, 100% 0, 100% 80%,80% 100%,0 100%,0 100%,0% 20%); */
  clip-path: polygon(20% 5%, 97% 5%, 80% 93%, 3% 93%);
  position: absolute;
  background-color: #3d355a;
  width: calc(100% + 21px);
  height: calc(100% + 17px);
  left: -9px;
  top: -9px;
}
